@import "tailwindcss";

/* استيراد الخط من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

/* تعريف الخط المحلي بشكل صحيح */
@font-face {
  font-family: 'Scheherazade New';
  src: url('/Fonts/ScheherazadeNew-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-red: #8B151A;
  --color-brand-gold: #C5A059;
  --color-brand-black: #1A1A1A;
}

* {
  font-family: "Scheherazade New", serif;
  font-style: normal;
}

.choices__list--single .choices__item::placeholder {
  font-size: 19px;
}

.choices__item--selectable::after {
  display: none !important;
}

.Toastify__toast {
  direction: rtl;
  font-weight: bold;
  font-family: "Scheherazade New", serif;
  text-align: right;
}

/* تغيير حجم الخط لكافة عناصر مكتبة Choices.js */
.choices {
  font-size: 1.25rem !important; /* text-xl */
}

.choices__inner {
  font-size: 1.25rem !important; /* text-xl */
  min-height: 52px; /* ليتناسب مع ارتفاع مدخلات النص */
}

.choices__list--dropdown .choices__item {
  font-size: 1.25rem !important; /* text-xl لعناصر القائمة المنسدلة */
}

.choices__input {
  font-size: 1.25rem !important; /* text-xl لحقل البحث داخل القائمة */
}

.choices__placeholder {
  font-size: 1.25rem !important; /* text-xl للـ Placeholder */
  opacity: 0.8;
}